<!-- <mat-list>
    <div mat-subheader>Folders</div>
    <mat-list-item *ngFor="let folder of folders">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>{{folder.name}}</div>
        <div mat-line> {{folder.updated | date}} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Notes</div>
    <mat-list-item *ngFor="let note of notes">
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>{{note.name}}</div>
        <div mat-line> {{note.updated | date}} </div>
    </mat-list-item>
</mat-list> -->

<mat-list>
    <div mat-subheader>Folders</div>
    <div *ngFor="let item of miLista; let posicion = index; let ultimo = last">
        <mat-list-item>
            <mat-icon mat-list-icon>folder</mat-icon>
            <div mat-line class="nombre-carpeta" (click)="hacerAlgo(posicion)">
                {{item.nombreCarpeta}} {{posicion+1}}
            </div>
            <div mat-line> {{item.date}} </div>
        </mat-list-item>
        <mat-divider *ngIf="!ultimo else miPlantilla"></mat-divider>
    </div>
</mat-list>

<ng-template #miPlantilla>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>