<form [formGroup]="formulario" (ngSubmit)="login()">


    <div fxLayout="column">
        <mat-form-field fxFlex appearance="outline">
            <mat-label>Nombre:</mat-label>
            <input type="text" matInput formControlName="username">
        </mat-form-field>

        <mat-form-field fxFlex appearance="outline">
            <mat-label>Contraseña:</mat-label>
            <input type="text" matInput formControlName="password">
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Guardar</button>
    </div>


</form>